.main-container {
  width: 1000px;
  height: 850px;
  margin: auto;
}
.text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
textarea {
  width: 35%;
  height: 80%;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
